

<div class="container" style="margin-top:30px">
    <form class="well form-horizontal" action="" method="get"  id="register" onsubmit="return false">
        <fieldset>
            <div class="form-group">
                <label style="align:justify" class="col-md-4 control-label">Airline Code</label>
                  <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="fname" required pattern="^[a-zA-Z]*$" name="first_name" placeholder="Airline Code" class="form-control"  type="text">
                      </div>
                  </div>
            </div>


            <div class="form-group">
                <label style="align:justify"   class="col-md-4 control-label" >Airline Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="lname" name="last_name" placeholder="Airline Name" class="form-control"  type="text">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label style="align:justify"  class="col-md-4 control-label">Airline Logo</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <label class="custom-file-upload">
                        <input id="file-upload"  type="file" name="state" class="form-control selectpicker" />
                        <img style="display:none" id="output" src="#" alt="your image" />
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning" >ADD<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
              <div class="alert alert-success" role="alert" id="success_message"> Record Added Successfully <i class="glyphicon glyphicon-thumbs-up"></i></div>

        </fieldset>

    </form>

    <button class="btn btn-primary" type="button">
          View All Airlines <span class="badge"></span>
    </button>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th>Airline Code</th>
                <th>Airline Name</th>
                <th>Airline Logo</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>JET</td>
                    <td>Jet Airways</td>
                    <td><img src="http://lorempixel.com/50/50/sports/"></td>
                </tr>
                <tr>
                   <td>IN</td>
                   <td>Indigo Airways</td>
                   <td><img src="http://lorempixel.com/50/50/sports/"></td>
                </tr>
                <tr>
                    <td>JET</td>
                    <td>Jet Airways</td>
                    <td><img src="http://lorempixel.com/50/50/sports/"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
