 <ul class="nav nav-tabs">
    <li  ng-class="{active:tab==1}" role="presentation"><a data-toggle="tab" ng-click="tab = 1" href="#/airline">Airlines</a></li>
    <li  ng-class="{active:tab==2}" role="presentation"><a data-toggle="tab" ng-click="tab = 2" href="#/flight">Flights</a></li>
    <li  ng-class="{active:tab==3}" role="presentation"><a data-toggle="tab" ng-click="tab = 3" href="#/city">City</a></li>
    <li class="active"  ng-class="{active:tab==4}" role="presentation"><a data-toggle="tab" ng-click="tab = 4" href="#/route">Route</a></li>
</ul>

<h1>route page</h1>